<div class="main-warpper">
<div class="main">
<div class="copy-container">
<% @user.errors.full_messages.each do|message|%>
    <div class="form_error">
    <%=message%>
    </div>
<%end%>
<%=form_tag("/users/#{@user.id}/update",{multipart:true})do%>
<p>ユーザー名</p>
<input name="name" value="<%=@user.name%>">
<p>email</p>
<input name="email" value="<%=@user.email%>">
<p>password</p>
<input name="password" value="<%=@user.password%>" type="password">
<p>画像</p>
<input type="file" value="選択" name="user_image_date"><br><br>
<input type="submit" value="編集">
<%end%>
</div>
</div>
</div>